{{ define "title" }}
<div class="container">
    <div class="content-center">
        <h1 class="title">Deze pagina bestaat (nog) niet</h1>
        <div class="text-center">
            {{with .Params.description }} {{ . | safeHTML }} {{ end }}
        </div>
    </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-left">
        We sturen je zometeen door naar onze hoofdpagina
    </div>
</div>
<script type = "text/javascript">
 <!--
       window.location = "/";
 //-->
</script>
{{ end }}
