   <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.dolphinbuddys.com/" />
    <!--  Social tags      -->
    <meta name="keywords" content="dolphin buddys, leuven, duiken, diving">
    <meta name="description" content="Ontdekken, bijleren, genieten">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Dolphin Buddys">
    <meta itemprop="description" content="Ontdekken, bijleren, genieten">
    <meta itemprop="image" content="http://s3.amazonaws.com/creativetim_bucket/products/56/original/opt_nuk_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="product">
    <meta name="twitter:title" content="Dolphin Buddys">
    <meta name="twitter:description" content="Ontdekken, bijleren, genieten">
    <!-- Open Graph data -->
    <meta property="og:title" content="Dolphin Buddys" />
    <meta property="og:url" content="https://www.dolphinbuddys.com/" />
    <meta property="og:image" content="https://www.dolphinbuddys.com/img/buddy-logo-white.png" />
    <meta property="og:description" content="Ontdekken, bijleren, genieten" />
    <meta property="og:site_name" content="Dolphin Buddys" />